*{
    padding: 0;
    margin: 0;
}

input{
    width: 100px !important ;
    height: 100px !important ;
    font-size: 50pt !important;
    text-align: center !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance:none ;
    margin: 0;
}

.time{
    color: #f35555 !important;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;

}

h2{
    font-size: 90pt;
}

#timer{
    display: none !important;
}

